.nuget/
.idea/
.vscode/**
.vscode-test/**
out/**
node_modules/**
resources/**
localize/**
src/**
test-resources/**
unit-tests/**
webviews/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
